extends ../components/htmlTemplate
include ../components/consultation

block page
    main
        #about-slider
            ul#about-sliders

                -
                    var aboutUsSliders = [
                        ["7.jpg", "4.jpg", "2.jpg", "12.jpg"],
                        ["5.jpg", "13.jpg", "14.jpg", "10.jpg", "11.jpg"],
                        ["3.jpg", "6.jpg", "1.jpg", "8.jpg"]
                    ]
                each row in aboutUsSliders
                    li
                        each key in row
                            img(src=require('../media/about_slider/' + key).default alt='СТО ремонт')

        section.about
            h2 О нас
            div.
                Это ворованный текст из какой-то всратой СТО. А еще у каштана 180 хромосом, но это не доказанно.
                Автосервис «КиївСхід» предоставляет полный спектр услуг по ремонту автомобилей в Киеве!
                Мы занимаемся полным циклом профессионального техобслуживания автомобиля, охватывающий все узлы,
                а также системы Вашего автомобиля. Мы готовы к решению нестандартных ситуаций, найдем решение любой
                проблемы. Мы дорожим своей репутацией и уверены: обратившись к нам, вы перестанете искать идеальный
                автосервис. Оценка состояния Вашего авто на нашем СТО «КиївСхід» в Дарницком районе Киева не займет
                много времени, зато поможет выявить дефекты или поломки, в дальнейшем способные стать причиной
                серьезных неисправностей в работе автомобиля. Одной из самых распространенных причин
                дорожно-транспортных происшествий на дорогах Киева по-прежнему остается техническая
                неисправность автомобиля, хотя в последние годы наблюдается тенденция по уменьшению
                процента аварий из-за поломок машин. Это значит, что все больше и больше водителей осознают
                необходимость и важность профилактического обслуживания своего автомобиля на качественных сто
                на левом берегу Киева.
            a(href="#consultation" class="button gray") Запросить консультацию?

        section.workflow
            h2 Как мы работаем
            ul

                - var workflowList = htmlWebpackPlugin.options.content.workflow
                each flow, key in workflowList
                    li
                        .num= '0' + (key + 1)
                        .content #{flow}
            a(href="#consultation" class="button white") оставить заявку

        section.services
            a(name="services")
            h2 Услуги
            ul

                - var serviceList = htmlWebpackPlugin.options.content.serviceList
                each service in serviceList
                    li.service
                        img(src= require('../media/services/' + service.img).default alt= service.title)
                        h3= service.title

        section.pricelist
            a(name="pricelist")
            h2 Цены
            ul

                - var priceList = htmlWebpackPlugin.options.content.priceList
                each priceCategory in priceList
                    li.price-category
                        h3= priceCategory.title
                        ul

                            each priceItem, keyI in priceCategory.list
                                li.price-item

                                    if priceItem.items
                                        h4
                                            =priceItem.title
                                            ul.items
                                                each items in priceItem.items
                                                    li= items
                                    else
                                        h4= priceItem.title

                                    .price
                                        if priceItem.price.fixed
                                            span.fixed-price от
                                        =priceItem.price.val
        +consultation(true)
