extends ../components/htmlTemplate
include ../components/consultation

block page
    - var content = htmlWebpackPlugin.options.content

    main
        #about-slider
            ul#about-sliders

                -
                    var aboutUsSliders = [
                        ["7.jpg", "4.jpg", "2.jpg", "12.jpg"],
                        ["5.jpg", "13.jpg", "14.jpg", "10.jpg", "11.jpg"],
                        ["3.jpg", "6.jpg", "1.jpg", "8.jpg"]
                    ]
                each row in aboutUsSliders
                    li
                        each key in row
                            picture
                                source(
                                    srcset=require('../media/about_slider/mobile/' + key).default
                                    media="(max-width: 768px)"
                                )
                                img(
                                    src=require('../media/about_slider/desktop/' + key).default
                                    alt='СТО ремонт'
                                    loading="lazy"
                                )

        section.about
            h2= content.aboutUsTitle
            div= content.aboutUs.text
            a(href="#consultation" class="button gray") #{content.consultation.title}?

        section.workflow
            h2= content.workflowTitle
            ul

                - var workflowList = content.workflow
                each flow, key in workflowList
                    li
                        .num= '0' + (key + 1)
                        .content #{flow}
            a(href="#consultation" class="button white")= content.consultation.leftRequest

        section.services
            a(name="services")
            h2= content.serviceTitle
            ul

                - var serviceList = content.serviceList
                each service in serviceList
                    li.service
                        picture
                            source(
                                srcset=require('../media/services/mobile/' + service.img).default
                                media="(max-width: 768px)"
                            )
                            img(
                                src= require('../media/services/desktop/' + service.img).default
                                alt= service.title
                                loading="lazy"
                            )
                        h3= service.title

        section.pricelist
            a(name="pricelist")
            h2= content.priceTitle
            ul

                - var priceList = content.priceList
                each priceCategory in priceList
                    li.price-category
                        h3= priceCategory.title
                        ul

                            each priceItem, keyI in priceCategory.list
                                li.price-item

                                    if priceItem.items
                                        h4
                                            =priceItem.title
                                            ul.items
                                                each items in priceItem.items
                                                    li= items
                                    else
                                        h4= priceItem.title

                                    .price
                                        if priceItem.price.fixed
                                            span.fixed-price от
                                        =priceItem.price.val
        +consultation(true)
