extends ../index.pug

block page
    main
        #about-slider
            ul#about-sliders

                - var aboutUsSliders = require('../constants/aboutUsSlider.json')
                each row in aboutUsSliders
                    li
                        each key in row
                            img(src=require('../media/about_slider/' + key).default alt='СТО ремонт')

        section.about
            h2 О нас
            div.
                Это ворованный текст из какой-то всратой СТО. А еще у каштана 180 хромосом, но это не доказанно.
                Автосервис «КиївСхід» предоставляет полный спектр услуг по ремонту автомобилей в Киеве!
                Мы занимаемся полным циклом профессионального техобслуживания автомобиля, охватывающий все узлы,
                а также системы Вашего автомобиля. Мы готовы к решению нестандартных ситуаций, найдем решение любой
                проблемы. Мы дорожим своей репутацией и уверены: обратившись к нам, вы перестанете искать идеальный
                автосервис. Оценка состояния Вашего авто на нашем СТО «КиївСхід» в Дарницком районе Киева не займет
                много времени, зато поможет выявить дефекты или поломки, в дальнейшем способные стать причиной
                серьезных неисправностей в работе автомобиля. Одной из самых распространенных причин
                дорожно-транспортных происшествий на дорогах Киева по-прежнему остается техническая
                неисправность автомобиля, хотя в последние годы наблюдается тенденция по уменьшению
                процента аварий из-за поломок машин. Это значит, что все больше и больше водителей осознают
                необходимость и важность профилактического обслуживания своего автомобиля на качественных сто
                на левом берегу Киева.
            a(href="#consultation" class="button") Запросить консультацию?

        //- section.workflow
        //-     h2 Как мы работаем
        //-     ul

        //-         - var workflowList = require('../constants/workflow.json')
        //-         each flow, key in workflowList
        //-             li
        //-                 .num= key + 1
        //-                 .content #{flow}

        //-                 if key == 0
        //-                     a(href="#consultation" class="button") оставить заявку

        section.services
            a(name="services")
            h2 Услуги
            ul

                - var serviceList = require('../constants/serviceList.json')
                each service in serviceList
                    li.service
                        img(src= service.img alt= service.title)
                        h3= service.title

        section.pricelist
            a(name="pricelist")
            h2 Цены
            ul

                - var priceList = require('../constants/priceList.json')
                each priceCategory in priceList
                    li.price-category
                        h3= priceCategory.title
                        ul

                            each priceItem, keyI in priceCategory.list
                                li.price-item

                                    if priceItem.items
                                        h4
                                            =priceItem.title
                                            ul.items
                                                each items in priceItem.items
                                                    li= items
                                    else
                                        h4= priceItem.title

                                    .price
                                        if priceItem.price.fixed
                                            span.fixed-price от
                                        =priceItem.price.val

        include ../layouts/consultation
