include ./icons/close

mixin consultation(withHref = false)
    - var trans = htmlWebpackPlugin.options.content.consultation

    .consultation
        if withHref
            a(name="consultation")

        h2 #{trans.title}
        form.consultation-form(
            data-trans-success= trans.notifications.call_request_success
            data-trans-unknown-error= trans.notifications.unknown_error
            data-trans-invalid-data-error= trans.notifications.call_request_invalid_data_error
            data-trans-spam-error= trans.notifications.call_request_spam_error
        )
            input.consultation-tel(type="tel" placeholder=trans.form.tel + " *")
            input.consultation-name(placeholder=trans.form.name type="text")
            button #{trans.request}

mixin consultation-fixed()
    #consulstation-fixed
        +consultation()
        .icon-wrapp
            include ./icons/phone_call
            +closeButton('consultation-close')

            - var lineCount = 0
            ul.icon-lines
                while lineCount < 3
                    li(pug= lineCount++)
